*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 55px 94px;
}

.logo{
    height:57px;
}


.field {
    display: flex;
    flex-direction: column;
  }

  .login-form{
    max-width: 566px;
  }